/* @import url("https://fonts.googleapis.com/css2?family=Hanken Grotesk:wght@500;800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  -webkit-scrollbar: hidden;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 0);
  height: 500vh;
}
.linearGradient {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* margin: 0 0 80px 0; */
}
.fixedNav {
  position: fixed;
  top: 0;
  height: 60px;
  margin: 0px 0 60px 0;
  width: 100%;
  z-index: 555;
  /* background: linear-gradient(-180deg, rgb(255, 0, 0), rgba(0, 0, 0, 0)); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  backdrop-filter: blur(10px);
}
.fixedNav p {
  margin: 0 0 0 20px;
  font-weight: bolder;
  font-family: Pacifico;
  font-weight: lighter;
  color: rgb(225, 225, 225);
  cursor: pointer;
}
.classLinear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0),
    rgba(0, 0, 0, 0.792) 10%,
    rgba(0, 0, 0, 0.247) 80%
  );
}
img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  border-bottom: 1px solid #fff;
}
.headHolder {
  position: absolute;
  margin: 200px 0 0 0;
  width: 100%;
  transition: 0.01s linear;
  mix-blend-mode: exclusion;
  animation-fill-mode: forwards;
  z-index: 5;
}
.headHolderTitle {
  width: 100%;
  position: absolute;
  color: #fff;
  font-family: Hanken Grotesk;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3rem;
  text-align: center;
  opacity: 0.8;
  /* mix-blend-mode: color-dodge; */
  z-index: 555;
}
.btn {
  position: absolute;
  bottom: 20%;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  mix-blend-mode: difference;
  transition: 0.1s;
}
.explore {
  padding: 12px;
  font-family: Hanken Grotesk;
  font-size: 1.3rem;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff inset;
  background: none;
  color: #fff;
  overflow: hidden;
  z-index: 5;
  transition: 0.5s;
}
.btnSpan {
  position: relative;
}
.btnSpan::after {
  position: absolute;
  top: -13px;
  left: -12px;
  width: 110%;
  height: 0px;
  content: "";
  background-color: rgba(255, 255, 255, 0.674);
  transition: 0.5s;
  z-index: -5;
}
.explore:hover .btnSpan::after {
  height: 120px;
  color: black;
}
.explore:hover {
  color: rgba(0, 0, 0, 0.58);
}
@media only screen and (max-width: 675px) {
  .fixedNav {
    position: absolute;
  }
  .btn {
    position: absolute;
    bottom: 20%;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
